@model IEnumerable<BugTracker.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="row col 12 col-lg-10">
                <div class="text-end mt-5 mb-2">
                    <a asp-action='Create' class="btn btn-lg btn-outline-success rounded-pill w-7">Create New</a>
                </div>
                <div class="p-3 border border-2 shadow bg-light">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

